@import url(https://fonts.googleapis.com/css?family=Lora:400,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Lora', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Lora', serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Lora', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Lora', serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Lora', serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Lora', serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #efefef !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-secondary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #efefef !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #efefef;
}
.btn-social:hover {
  background: #efefef;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #efefef;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #efefef;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #efefef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #efefef;
}
.lead a,
.lead a:hover {
  color: #efefef;
}
.lead blockquote {
  border-color: #efefef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #efefef;
}
#menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4 .navbar-caption {
  color: #ffffff;
}
#menu-4 .navbar-toggler {
  color: #ffffff;
}
#menu-4 .close-icon::before,
#menu-4 .close-icon::after {
  background-color: #ffffff;
}
#menu-4 .link,
#menu-4 .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-4 .link {
  font-size: 0.75rem;
}
#menu-4 .dropdown-item,
#menu-4 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4 .link:hover,
#menu-4 .dropdown-item:hover,
#menu-4 .link:focus,
#menu-4 .dropdown-item:focus {
  color: #efefef;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-menu {
  background: #b3b3b3;
}
#menu-4 .nav-dropdown-sm .link:focus,
#menu-4 .nav-dropdown-sm .link:hover,
#menu-4 .nav-dropdown-sm .dropdown-item:focus,
#menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-4 .navbar,
#menu-4 .nav-dropdown-sm,
#menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-4 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4 .bg-color.transparent.opened .link:hover,
#menu-4 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#header1-0 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
}


#menu-8 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8 .navbar-caption {
  color: #ffffff;
}
#menu-8 .navbar-toggler {
  color: #ffffff;
}
#menu-8 .close-icon::before,
#menu-8 .close-icon::after {
  background-color: #ffffff;
}
#menu-8 .link,
#menu-8 .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-8 .link {
  font-size: 0.75rem;
}
#menu-8 .dropdown-item,
#menu-8 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-8 .link:hover,
#menu-8 .dropdown-item:hover,
#menu-8 .link:focus,
#menu-8 .dropdown-item:focus {
  color: #efefef;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-menu {
  background: #b3b3b3;
}
#menu-8 .nav-dropdown-sm .link:focus,
#menu-8 .nav-dropdown-sm .link:hover,
#menu-8 .nav-dropdown-sm .dropdown-item:focus,
#menu-8 .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-8 .navbar,
#menu-8 .nav-dropdown-sm,
#menu-8 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8 .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-8 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8 .bg-color.transparent.opened .link:hover,
#menu-8 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#header1-7 .mbr-section-title {
  font-family: 'Lora', serif;
  text-align: center;
}

#menu-8 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8 .navbar-caption {
  color: #ffffff;
}
#menu-8 .navbar-toggler {
  color: #ffffff;
}
#menu-8 .close-icon::before,
#menu-8 .close-icon::after {
  background-color: #ffffff;
}
#menu-8 .link,
#menu-8 .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-8 .link {
  font-size: 0.75rem;
}
#menu-8 .dropdown-item,
#menu-8 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-8 .link:hover,
#menu-8 .dropdown-item:hover,
#menu-8 .link:focus,
#menu-8 .dropdown-item:focus {
  color: #efefef;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-menu {
  background: #b3b3b3;
}
#menu-8 .nav-dropdown-sm .link:focus,
#menu-8 .nav-dropdown-sm .link:hover,
#menu-8 .nav-dropdown-sm .dropdown-item:focus,
#menu-8 .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-8 .navbar,
#menu-8 .nav-dropdown-sm,
#menu-8 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8 .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-8 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8 .bg-color.transparent.opened .link:hover,
#menu-8 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#form1-9 .form-control-label {
  color: #ffffff;
}
#form1-9 .mbr-section-title {
  font-size: 60px;
  color: #ffffff;
}
#form1-9 SMALL {
  color: #ffffff;
}

#menu-b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-b .navbar-caption {
  color: #ffffff;
}
#menu-b .navbar-toggler {
  color: #ffffff;
}
#menu-b .close-icon::before,
#menu-b .close-icon::after {
  background-color: #ffffff;
}
#menu-b .link,
#menu-b .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-b .link {
  font-size: 0.75rem;
}
#menu-b .dropdown-item,
#menu-b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-b .link:hover,
#menu-b .dropdown-item:hover,
#menu-b .link:focus,
#menu-b .dropdown-item:focus {
  color: #efefef;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-menu {
  background: #b3b3b3;
}
#menu-b .nav-dropdown-sm .link:focus,
#menu-b .nav-dropdown-sm .link:hover,
#menu-b .nav-dropdown-sm .dropdown-item:focus,
#menu-b .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-b .navbar,
#menu-b .nav-dropdown-sm,
#menu-b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-b .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-b .bg-color.transparent.opened .link:hover,
#menu-b .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#header1-d .mbr-section-lead {
  color: #ffffff;
}
#content1-e DIV {
  text-align: center;
}
#header3-2q .mbr-section-title,
#header3-2q .mbr-section-subtitle {
  text-align: center;
}
#header3-2q H3 {
  color: #c1c1c1;
}
#header3-2r .mbr-section-title,
#header3-2r .mbr-section-subtitle {
  text-align: center;
}
#header3-2r H3 {
  color: #c1c1c1;
}
#header3-2u .mbr-section-title,
#header3-2u .mbr-section-subtitle {
  text-align: center;
}
#header3-2u H3 {
  color: #c1c1c1;
}
#header3-2v .mbr-section-title,
#header3-2v .mbr-section-subtitle {
  text-align: center;
}
#header3-2v H3 {
  color: #c1c1c1;
}
#header3-2y .mbr-section-title,
#header3-2y .mbr-section-subtitle {
  text-align: center;
}
#header3-2y H3 {
  color: #c1c1c1;
}
#header3-35 .mbr-section-title,
#header3-35 .mbr-section-subtitle {
  text-align: center;
}
#header3-35 H3 {
  color: #c1c1c1;
}
#header3-32 .mbr-section-title,
#header3-32 .mbr-section-subtitle {
  text-align: center;
}
#header3-32 H3 {
  color: #c1c1c1;
}

#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
}
#menu-c .navbar-toggler {
  color: #ffffff;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #ffffff;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-c .link {
  font-size: 0.75rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #efefef;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #b3b3b3;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#header1-f .mbr-section-title {
  font-size: 60px;
  color: #ffffff;
  text-align: right;
}
#header1-f .mbr-section-title SPAN {
  font-size: 60px;
}
#content1-h P {
  text-align: center;
}
#header3-2m .mbr-section-title,
#header3-2m .mbr-section-subtitle {
  text-align: center;
}
#header3-2m H3 {
  color: #c1c1c1;
}
#header3-2n .mbr-section-title,
#header3-2n .mbr-section-subtitle {
  text-align: center;
}
#header3-2n H3 {
  color: #c1c1c1;
}
#header3-3a .mbr-section-title,
#header3-3a .mbr-section-subtitle {
  text-align: center;
}
#header3-3a H3 {
  color: #c1c1c1;
}

#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
}
#menu-k .navbar-toggler {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffffff;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-k .link {
  font-size: 0.75rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #efefef;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #b3b3b3;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#content1-m P {
  text-align: center;
}

#menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-20 .navbar-caption {
  color: #ffffff;
}
#menu-20 .navbar-toggler {
  color: #ffffff;
}
#menu-20 .close-icon::before,
#menu-20 .close-icon::after {
  background-color: #ffffff;
}
#menu-20 .link,
#menu-20 .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-20 .link {
  font-size: 0.75rem;
}
#menu-20 .dropdown-item,
#menu-20 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-20 .link:hover,
#menu-20 .dropdown-item:hover,
#menu-20 .link:focus,
#menu-20 .dropdown-item:focus {
  color: #efefef;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-menu {
  background: #b3b3b3;
}
#menu-20 .nav-dropdown-sm .link:focus,
#menu-20 .nav-dropdown-sm .link:hover,
#menu-20 .nav-dropdown-sm .dropdown-item:focus,
#menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #c4c4c4!important;
}
#menu-20 .navbar,
#menu-20 .nav-dropdown-sm,
#menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #cccccc;
}
#menu-20 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-20 .bg-color.transparent.opened .link:hover,
#menu-20 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#content1-22 DIV {
  text-align: center;
}
#header3-36 .mbr-section-title,
#header3-36 .mbr-section-subtitle {
  text-align: center;
}
#header3-36 H3 {
  color: #c1c1c1;
}
#header3-39 .mbr-section-title,
#header3-39 .mbr-section-subtitle {
  text-align: center;
}
#header3-39 H3 {
  color: #c1c1c1;
}
#header3-2g .mbr-section-title,
#header3-2g .mbr-section-subtitle {
  text-align: center;
}
#header3-2g H3 {
  color: #c1c1c1;
}
#header3-2g SMALL {
  color: #8c8c8c;
}
